@model IEnumerable<CharityWeb.Models.RateModels>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">*@
@*<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />*@
<style>
/*    .table td, .table th {
        white-space: nowrap;
    }

    .table .btn {
        margin-right: 5px;
    }
</style>

<h2>User Feedback List</h2>


<table class="table">
    <thead>
        @*class="thead-light"*@
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmittedUser)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feedback)
                </td>
                <td>
                    @{
                        string currentUserName = User.Identity.GetUserName(); // 获取当前登录用户的用户名
                        string submittedUser = item.SubmittedUser; // 获取提交的用户信息
                    }
                    @*@Html.DisplayFor(modelItem => item.SubmittedUser)*@
                    @if (currentUserName != submittedUser)
                    {
                        @Html.Raw("******")
                    }
                    else
                    {
                        @submittedUser
                    }
                </td>
            </tr>
        }

    </tbody>
</table>

<!-- 显示平均评分 -->
<div style="margin-top: 30px; font-size: 20px">
    <p>Average Rating: <strong>@String.Format("{0:F2}", ViewData["AverageRating"])</strong></p>
</div>

@section Scripts {

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />


